<section id="footer" class="footer">
     <div class="container-custom">
          <div class="row">
               <div class="col-6">
                    <div class="logo">
                         {% include 'shared/logo.html' %}
                    </div>
                    <!--
                    <div class="row">
                         <div class="col-4">
                              <div class="widget">
                                   <div class="widget__title">
                                        <span>SOBRE EL JUEGO</span>
                                   </div>
                                   <ul class="widget__list">
                                        <li class="widget__item">Reglamento</li>
                                   </ul>
                              </div>
                         </div>
                         <div class="col-4">
                              <div class="widget">
                                   <div class="widget__title">
                                        <span>SOBRE NOSOTROS</span>
                                   </div>
                                   <ul class="widget__list">
                                        <li class="widget__item">Reglamento</li>
                                   </ul>
                              </div>
                         </div>
                         <div class="col-4">
                              <div class="widget">
                                   <div class="widget__title">
                                        <span>AYUDA</span>
                                   </div>
                                   <ul class="widget__list">
                                        <li class="widget__item">Reglamento</li>
                                   </ul>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-6">
                    <div class="widget" id="contactanos">
                         <div class="widget__title">
                              <span>CONTÁCTANOS</span>
                         </div>
                         <ul class="widget__socials">
                              <li class="widget__icon"></li>
                              <li class="widget__icon"></li>
                              <li class="widget__icon"></li>
                         </ul>
                    </div>
               </div>
               -->
          </div> 
          </div>
     </div>
     <div class="copyright">
          <span>Todos los derechos reservados</span>
     </div>
</section>