<form class="container history-form" action='.' method='GET'>
     <div class="row" style="justify-content: center">
          <div class="col-4">
               <div class="calendar mb-3">
                    <input type='date' class="form-control" name='fecha'/>
                    <span class="input-group-addon">
                         <span class="glyphicon glyphicon-calendar"></span>
                    </span> 
               </div>
               
          </div>
          <div class="col-4">
               <button class="btn bg-blue" type="submit">BUSCAR POR FECHA</button>
          </div>
     </div>
</form>