
{% block body %}
     <section id="reglas" style="margin-top:30px;">
          <div class="container-custom">
               <div class="row">
                    <div class="col-sm-12 col-s-4">
                         <h3 class="paragraph__title text-center">¿CÓMO JUGAR?</h3>
                    </div>
               </div>
               <hr class="separator">
               <ul class="nav nav-tabs" id="reglas-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                         <button 
                              class="nav-link active" 
                              id="doble-triple-tab" 
                              data-bs-toggle="tab" 
                              data-bs-target="#doble-triple-tab-pane"
                              aria-selected="true"
                              type="button" 
                              role="tab" 
                              aria-controls="doble-triple-tab-pane"
                         >
                              DOBLE TRIPLE
                         </button>
                    </li>
                    <li class="nav-item" role="presentation">
                         <button 
                              class="nav-link" 
                              id="doble-terminal-tab" 
                              data-bs-toggle="tab" 
                              data-bs-target="#doble-terminal-tab-pane"
                              aria-selected="true"
                              type="button" 
                              role="tab" 
                              aria-controls="doble-terminal-tab-pane"
                         >
                              DOBLE TERMINAL
                         </button>
                    </li>
                    <li class="nav-item" role="presentation">
                         <button 
                              class="nav-link" 
                              id="doble-animalito-tab" 
                              data-bs-toggle="tab" 
                              data-bs-target="#doble-animalito-tab-pane"
                              aria-selected="true"
                              type="button" 
                              role="tab" 
                              aria-controls="doble-animalito-tab-pane"
                         >
                              DOBLE ANIMALITO
                         </button>
                    </li>
               </ul>
               <div class="tab-content" id="reglas-content">
                    <div 
                         class="tab-pane fade show active"
                         id="doble-triple-tab-pane" 
                         role="tabpanel"
                         aria-labelledby="doble-triple-tab" 
                         tabindex="0">
                         <div class="reglas-content">
                              <div class="regla-item">
                                   <p class="regla-item-title">Modalidad de juego (Triple A + Triple B)</p>
                                   <p class="regla-item-description">
                                        Para completar una jugada el apostador deberá escoger un TRIPLE A y un
                                        TRIPLE B de la modalidad “DOBLE TRIPLE” para un mismo sorteo en su día,
                                        fecha y hora correspondientes.

                                        En esta sección, cada jugada deberá aparecer en el anverso del medio de apuesta,
                                        impresa horizontalmente en la misma línea e indicando: el TRIPLE A + TRIPLE B seleccionados por el jugador y el monto de la apuesta
                                        correspondiente a esa jugada. Si el apostador hiciere dos (2) o más jugadas en esta modalidad en un mismo medio de apuesta, 
                                        ellas serán independientes entre sí, deberán aparecer impresas horizontalmente una debajo de la otra y cada una deberá tener su monto de 
                                        apuesta en dólares o bolívares a la tasa de cambio del BCV.
                                   </p>
                                   <p class="regla-item-title">Modalidad de juego (Solo Triple A)</p>
                                   <p class="regla-item-description">
                                        Para completar una jugada el apostador deberá escoger un TRIPLE A de la
                                        modalidad DOBLE TRIPLE para un mismo sorteo, con su día, fecha y hora
                                        correspondientes.

                                        En esta modalidad cada jugada deberá aparecer en el anverso del medio de
                                        apuesta, impresa horizontalmente en la misma línea e indicando: el TRIPLE A
                                        seleccionado por el jugador y el monto de la apuesta correspondiente a esa jugada. 
                                        Si el apostador hiciere dos (2) o más jugadas en esta modalidad en un mismo medio de apuesta,
                                        ellas serán independientes entre sí y cada una deberá tener su monto de apuesta en dólares o bolívares a la tasa de cambio del BCV.
                                   </p>
                                   <p class="regla-item-title">Modalidad de juego (Solo Triple B</p>
                                   <p class="regla-item-description">
                                        Para completar una jugada el apostador deberá escoger un TRIPLE B de la
                                        modalidad “DOBLE TRIPLE” para un mismo sorteo, con su día, fecha y hora
                                        correspondientes.

                                        En esta modalidad cada jugada deberá aparecer en el anverso del medio de
                                        apuesta, impresa horizontalmente en la misma línea e indicando: el TRIPLE B
                                        seleccionado por el jugador y el monto de la apuesta correspondiente a esa
                                        jugada. Si el apostador hiciere dos (2) o más jugadas en esta modalidad en un mismo medio de apuesta,
                                        ellas serán independientes entre sí y cada una deberá tener su monto de apuesta en dólares o bolívares a la tasa de cambio del BCV.
                                   </p>
                              </div>
                         </div>
                    </div>
                    <div 
                         class="tab-pane fade"
                         id="doble-terminal-tab-pane" 
                         role="tabpanel"
                         aria-labelledby="doble-terminal-tab" 
                         tabindex="0">
                         <div class="reglas-content">
                              <div class="regla-item">
                                   <p class="regla-item-title">Modalidad de juego (Terminal A + Terminal B)</p>
                                   <p class="regla-item-description">
                                        Para completar una jugada el apostador deberá escoger un TERMINAL A y un TERMINAL B de la modalidad “DOBLE TERMINAL” 
                                        para un mismo sorteo, con su día, fecha y hora correspondientes.

                                        En esta modalidad cada jugada deberá aparecer en el anverso del medio de
                                        apuesta, impresa horizontalmente en la misma línea e indicando: el TERMINAL A + el TERMINAL B seleccionados 
                                        por el jugador y el monto de la apuesta correspondiente a esa jugada. Si el apostador hiciere dos (2) o más 
                                        jugadas en esta modalidad en un mismo medio de apuesta, ellas serán independientes entre sí, deberán aparecer
                                        impresas horizontalmente una debajo de la otra y cada una deberá tener su monto de apuesta en dólares o bolívares
                                        a la tasa de cambio del BCV.
                                   </p>
                                   <p class="regla-item-title">Modalidad de juego (Solo Terminal A)</p>
                                   <p class="regla-item-description">
                                        Para completar una jugada el apostador deberá escoger un TERMINAL A de la modalidad DOBLE TERMINAL para un mismo sorteo,
                                        con su día, fecha y hora correspondientes.
                                        En esta modalidad cada jugada deberá aparecer en el anverso del medio de apuesta,
                                        impresa horizontalmente en la misma línea e indicando: el TERMINAL A seleccionado por el jugador y 
                                        el monto de la apuesta correspondiente a esa jugada. Si el apostador hiciere dos (2) o más jugadas en esta 
                                        modalidad en un mismo medio de apuesta, ellas serán independientes entre sí y cada una deberá tener su monto de 
                                        apuesta en dólares o bolívares a la tasa de cambio del BCV.
                                   </p>
                                   <p class="regla-item-title">Modalidad de juego (Solo Terminal B</p>
                                   <p class="regla-item-description">
                                        Para completar una jugada el apostador deberá escoger un TERMINAL B de la modalidad “DOBLE TERMINAL” para un mismo sorteo, 
                                        con su día, fecha y hora correspondientes.
                                        En esta modalidad cada jugada deberá aparecer en el anverso del medio de
                                        apuesta, impresa horizontalmente en la misma línea e indicando: el TERMINAL B seleccionado por el jugador y 
                                        el monto de la apuesta correspondiente a esa jugada. Si el apostador hiciere dos (2) o más jugadas en esta modalidad en un mismo medio de
                                        apuesta, ellas serán independientes entre sí y cada una deberá tener su monto de apuesta en dólares o bolívares a la tasa de cambio del BCV. 
                                   </p>
                              </div>
                         </div>
                    </div>
                    <div 
                         class="tab-pane fade"
                         id="doble-animalito-tab-pane" 
                         role="tabpanel"
                         aria-labelledby="doble-animalito-tab" 
                         tabindex="0">
                         <div class="reglas-content">
                              <div class="regla-item">
                                   <p class="regla-item-title">Modalidad de juego (Animalito A + Animalito B)</p>
                                   <p class="regla-item-description">
                                        Para completar una jugada el apostador deberá escoger un ANIMALITO A + un ANIMALITO B de la modalidad “DOBLE ANIMALITO” para un mismo sorteo, con su día, fecha y hora correspondientes.

                                        En esta sección cada jugada deberá aparecer en el anverso del medio de
                                        apuesta, impresa horizontalmente en la misma línea e indicando: el
                                        ANIMALITO A y el ANIMALITO B seleccionados por el apostador y el monto
                                        de la apuesta correspondiente a esa jugada. Si el apostador hiciere dos (2) o
                                        más jugadas en esta modalidad en un mismo medio de apuesta, ellas serán
                                        independientes entre sí, deberán aparecer impresas horizontalmente una
                                        debajo de la otra y cada una deberá tener su monto de apuesta en dólares o
                                        bolívares a la tasa de cambio del BCV
                                   </p>
                                   <p class="regla-item-title">Modalidad de juego (Solo Animalito A)</p>
                                   <p class="regla-item-description">
                                        Para completar una jugada el apostador deberá escoger un ANIMALITO A de la modalidad DOBLE ANIMALITO para un mismo sorteo, con su día, fecha y hora correspondientes.

                                        En esta modalidad cada jugada deberá aparecer en el anverso del medio de
                                        apuesta, impresa horizontalmente en la misma línea e indicando: el
                                        ANIMALITO A seleccionado por el jugador y el monto de la apuesta
                                        correspondiente a esa jugada. Si el apostador hiciere dos (2) o más jugadas en esta modalidad en un mismo medio de apuesta, ellas serán independientes entre sí y cada una deberá tener su monto de apuesta en dólares o bolívares a la tasa de cambio del BCV.
                                   </p>
                                   <p class="regla-item-title">Modalidad de juego (Solo Animalito B)</p>
                                   <p class="regla-item-description">
                                        Para completar una jugada el apostador deberá escoger un ANIMALITO B de
la modalidad DOBLE ANIMALITO para un mismo sorteo, con su día, fecha y
hora correspondientes.

En esta modalidad cada jugada deberá aparecer en el anverso del medio de
apuesta, impresa horizontalmente en la misma línea e indicando: el
ANIMALITO B seleccionado por el jugador y el monto de la apuesta
correspondiente a esa jugada. Si el apostador hiciere dos (2) o más jugadas en esta modalidad en un mismo medio de apuesta, ellas serán independientes entre sí y cada una deberá tener su monto de apuesta en dólares o bolívares a la tasa de cambio del BCV.
                                   </p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
{% endblock body %}
