<table class="table table-striped">
     <thead>
          <th>FECHA</th>
          <th>RESULTADOS</th>
     </thead>
     <tbody>
          <td>14/08/2022</td>
          <td>VER RESULTADOS</td>
     </tbody>
</table>
<div class="paginator">
     <button class="btn bg-blue previous">ANTERIOR</button>
     <ul class="paginate__list">
          <li class="paginate__item"><a href="#" class="paginate__item__link">1</a></li>
          <li class="paginate__item"><a href="#" class="paginate__item__link">2</a></li>
          <li class="paginate__item"><a href="#" class="paginate__item__link">3</a></li>
     </ul>
     <span class="btn bg-blue next">SIGUIENTE</span>
     <span class="btn bg-green last-page">ULTIMA PÁGINA</span>
</div>