<div class="container">
     <div class="row">
         <div class="col-6 col-md-6 col-sm-12 image-bg">
             <div class="row">
                 <div class="col-12 form_title">
                     <h1 class="blue">
                         INFORMACIÒN SOBRE EL REGISTRO
                     </h1>
                 </div>
                 <div class="col-12">
                     <p class="blue">
                         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, fugiat ullam. Sit, incidunt, fugiat exercitationem consequuntur non amet, mollitia voluptates debitis laborum aperiam perferendis modi aspernatur cum esse quas commodi?
                     </p>
                 </div>
                 <div class="col-12 form_title">
                     <h1 style="font-weight: bold;" class="blue">
                         QUIERO SER VENDEDOR
                     </h1>
                 </div>
                 <div class="col-12">
                     <div class="row">
                         <div class="col-12 check_section">
                             <div class="label_section blue">
                                 Tipo Persona:
                             </div>
                             <div class="form-check">
                                 <input class="form-check-input" type="radio" value="option1" checked>
                                 <label class="form-check-label" for="exampleRadios1">
                                   Persona Natural
                                 </label>
                             </div>
                             <div class="form-check">
                                 <input class="form-check-input" type="radio" value="option2">
                                 <label class="form-check-label" for="exampleRadios2">
                                   Persona Jurìdica
                                 </label>
                             </div>
                         </div>
                         <div class="col-6 col-md-6 col-sm-12 tipo_doc">
                             <div id="tipo_documento" class="input-group mb-3">
                                 <select class="form-select no-border bottom_line font_bold" placeholder="Tipo Documento">
                                     <option value="V">V</option>
                                     <option value="E">E</option>
                                     <option value="J">J</option>
                                 </select> 
                                 <input type="text" class="form-control no-border bottom_line" placeholder="Nro Documento" aria-label="Text input with dropdown button">
                             </div>                        
                         </div>
                         <div class="col-6 col-md-6 col-sm-12">
                             <div class="mb-3">
                                 <input
                                     placeholder="Nombre Completo" 
                                     type="text" 
                                     class="form-control no-border bottom_line" 
                                     id="nombreInput">
                             </div>                        
                         </div>
                         <div class="col-6 col-md-6 col-sm-12">
                             <select id="estadoInput" class="form-select no-border bottom_line font_bold" placeholder="Estado">
                                 <option selected>Estado</option>
                                 <option value="1">Distrito Capital</option>
                                 <option value="2">Miranda</option>
                                 <option value="3">Anzoategui</option>
                                 <option value="4">Merida</option>
                                 <option value="5">Tachira</option>
                                 <option value="6">Dep. Federales</option>
                             </select>                                                
                         </div>
                         <div class="col-6 col-md-6 col-sm-12">
                             <select id="ciudadInput" placeholder="Ciudad" class="form-select no-border bottom_line font_bold">
                                 <option selected>Ciudad</option>
                                 <option value="1">Caracas</option>
                                 <option value="2">Lecheria</option>
                                 <option value="3">Los Teques</option>
                                 <option value="4">Merida</option>
                             </select>                                                
                         </div>
                         <div class="col-12 ">
                             <div class="mb-3">
                                 <input type="email" class="form-control no-border bottom_line" id="direccionInput" placeholder="Direcciòn">
                             </div>                                                
                         </div>
                         <div class="col-6 col-md-6 col-sm-12">
                             <div class="mb-3">
                                 <input type="email" class="form-control no-border bottom_line" id="emailInput" placeholder="Email">
                             </div>                                                
                         </div>
                         <div class="col-6 col-md-6 col-sm-12 telefono_group">
                             <div id="telefonoInput" class="input-group mb-3" placeholder="Telèfono">
                                 <select class="form-select no-border bottom_line">
                                     <option selected>Prefijo</option>
                                     <option value="V">0424</option>
                                     <option value="V">0414</option>
                                     <option value="E">0412</option>
                                     <option value="J">0416</option>
                                     <option value="J">0426</option>
                                 </select> 
                                 <input type="text" placeholder="Nro de Telefono" class="form-control no-border bottom_line">
                             </div>                                           
                         </div>
                         
                     </div>
                 </div>
                 <div class="col-12">
                     <div class="row">
                         <div class="col-12 recaudos_texto t_black ">
                             Una vez registrado, te contactara uno de nuestros agentes y deberàs consignar los siguientes recaudos:
                         </div>
                         <div class="col-6 recaudos">
                             <div class="t_black font_bold">Persona Natural</div>
                             <ul>
                                 <li class="t_black font_bold">Cèdula de Identidad</li>
                                 <li class="t_black font_bold">Registro de Informaciòn Fiscal (RIF)</li>
                             </ul>
                         </div>
                         <div class="col-6 recaudos">
                             <div class="t_black font_bold">Persona Natural</div>
                             <ul>
                                 <li class="t_black font_bold">Documento Constitutivo</li>
                                 <li class="t_black font_bold">Registro de Informaciòn Fiscal (RIF)</li>
                                 <li class="t_black font_bold">Cèdula y RIF del Representante Legal</li>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-6 col-md-6 col-sm-12" style="position: relative;">
             <!-- <div class="shadow_effect">
             </div> -->
             <div class="image-col">

             </div>
         </div>
     </div>
 </div>